# Machine Learning Model (Random Forest Regressor)

Steps for Machine Learning Workflow:

1.Extract
 Rules:
 a. Features should not be strings
 b. Features should be of the type array/dataframe
 c. There should be no null values in my features and target
 d. Features should be in the form of rows and columns
 e. Features should be on the same scale
2.Split into training and testing sets

3.Train the model on the training set

4.Test the model on the testing set

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Dell\\Machine Learning Model'

In [3]:
os.chdir('C:\\Users\\Dell')

In [4]:
os.getcwd()

'C:\\Users\\Dell'

In [5]:
import numpy as np
import pandas as pd

In [6]:
odi=pd.read_csv("ODI.csv")
odi.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [7]:
odi=odi.drop(columns=["mid","date","venue","runs_last_5","wickets_last_5"])
odi.head()

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker,total
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,301
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,301
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0,301
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0,301
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0,301

# Step 1

In [8]:
X=odi.drop(columns=["total"])                                                 #Feature variables

In [9]:
X.head()

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0

In [10]:
y=odi["total"]                                                                #Target Variable

In [11]:
y.head()

0    301
1    301
2    301
3    301
4    301
Name: total, dtype: int64

# Rules

# Here we are Using Label Encoding to Convert Categorical to Numeric

In [12]:
X.dtypes

bat_team        object
bowl_team       object
batsman         object
bowler          object
runs             int64
wickets          int64
overs          float64
striker          int64
non-striker      int64
dtype: object

In [13]:
#To convert column of dtype object to int   (Use Feature Engineering Encoding Techniques)

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
label=LabelEncoder()

In [16]:
X["bat_team"]=label.fit_transform(X["bat_team"])
X["bowl_team"]=label.fit_transform(X["bowl_team"])
X["batsman"]=label.fit_transform(X["batsman"])
X["bowler"]=label.fit_transform(X["bowler"])

In [17]:
X.dtypes

bat_team         int32
bowl_team        int32
batsman          int32
bowler           int32
runs             int64
wickets          int64
overs          float64
striker          int64
non-striker      int64
dtype: object

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
X.shape

(350899, 9)

In [20]:
odi.isna().sum()

bat_team       0
bowl_team      0
batsman        0
bowler         0
runs           0
wickets        0
overs          0
striker        0
non-striker    0
total          0
dtype: int64

# Step 2

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [23]:
# We dont need to use stratify=y for Regression Models

# Step 3

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
forest=RandomForestRegressor()

In [26]:
forest.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

# Step 4

# Evaluate

In [27]:
forest.score(X_test,y_test)

0.9349268781531661

# Predict on New Observations

In [28]:
 #For the DataFrame, the Column Name Doesn't matter

In [29]:
data=pd.DataFrame([{0:0,1:0,2:1,3:1,4:55,5:1,6:10.0,7:40,8:12}])

In [30]:
data

   0  1  2  3   4  5     6   7   8
0  0  0  1  1  55  1  10.0  40  12

In [32]:
forest.predict(data)

array([305.1])